header {
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bar-top {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.bar-top-text {
  color: burlywood;
  letter-spacing: 2px;
}

.searchandcart {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  width: 5vh;
  height: 5vh;
  margin: 0 5% 0 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.search-logo {
  width: 80%;
  height: 80%;
  margin: 0 15% 0 0;
}

.cart-container .search-btn:first-child .search-logo {
  width: 60%;
  height: 60%;
}

.avatar-img {
  border-radius: 100%;
  width: 80%;
  height: 80%;
  margin: 0 15% 0 0;
}

.search-input {
  width: 70%;
  height: 5vh;
  border: none;
  border-bottom: 1px solid black;
}

.cart-container {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.account-container,
.bag-container {
  display: none;
  position: absolute;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  background-color: white;
  top: 20vh;
  right: 0;
  width: 20%;
  height: 40%;
  padding: 1%;
  z-index: 100;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.account-container.hover,
.bag-container.hover {
  display: flex;
}

.account-container-title {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline black;
}

.account-container-name {
  width: 75%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 80%;
}

button {
  outline: none;
}

.btn-acc-cont {
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.btn-close {
  position: absolute;
  top: 3vh;
  right: 3vh;
  width: 2vh;
  height: 2vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/close.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.btn-deco {
  position: absolute;
  top: 3vh;
  right: 3vh;
  width: 2vh;
  height: 2vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/deco.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  width: auto;
  height: 100%;
}

.button-first {
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  width: 20vh;
  height: 5vh;
  background-color: burlywood;
  color: white;
  cursor: pointer;
}

.button-secondary {
  border: 1px solid burlywood;
  border-radius: 15px;
  width: 20vh;
  height: 5vh;
  background-color: white;
  color: burlywood;
  cursor: pointer;
}

.button-third {
  border: none;
  border-bottom: 1px solid burlywood;
  width: 30vh;
  height: 5vh;
  background-color: white;
  color: burlywood;
  cursor: pointer;
}

.button-third:hover {
  color: rgba(222, 184, 135, 0.5);
}

.button-none {
  border: 1px solid grey;
  background-color: white;
  color: grey;
  cursor: not-allowed;
}

.menu {
  width: 100%;
  height: 20%;
}

.menu ol {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropbtn {
  background-color: transparent;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  color: #707172;
  font-style: normal;
  font-weight: bold;
}

.dropbtn .btn-link {
  text-decoration: none;
}

.dropdown {
  display: flex;
  height: 100%;
  width: 15%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35%;
  border-top: grey 1px solid;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .btn-link {
  color: #707172;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
}

.dropdown-content .btn-link:hover {
  background-color: white;
  color: rgb(203, 188, 178);
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.dropdown:hover .dropbtn .btn-link {
  color: rgb(203, 188, 178);
}

.title-main {
  text-decoration: underline black;
  letter-spacing: 1px;
  width: 100%;
}

.sign-container {
  width: 100%;
  height: max-content;
  margin-top: 2vh;
  border-top: 1px solid #d3d3d3;
}

.inputs-container {
  border-radius: 15px;
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.view-container .inputs-container {
  width: 100%;
}

.login-input {
  width: 50%;
  height: 5vh;
  margin: 1vh 0;
  padding: 0 1vh;
  outline: none;
}

.field {
  margin: 0;
}

.field.error {
  font-size: 1.5vh;
  color: red;
  margin: 1em;
}

.field.success {
  font-size: 1.5vh;
  color: green;
  margin: 1em;
}

.lost-pass {
  font-size: 1.4vh;
  cursor: pointer;
  margin: 2vh 0;
}

.edit-container {
  width: 100%;
  height: max-content;
  border-top: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2vh;
}

.list-container {
  width: 30%;
  height: max-content;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  padding: 2vh;
}

.view-container {
  width: 50%;
  height: max-content;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  padding: 2vh;
}

/* SLIDE */

#home-collection {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-top: 0px;
}

.slick-slider {
  margin-bottom: 12px;
  z-index: 6;
  display: block;
  position: relative;
}

@media (min-width: 480px) {
  .slick-slider {
    margin-top: 18px;
  }
}

.slick-track {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0px, 0px, 0px);
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: "";
}

.slick-track::after {
  clear: both;
}

.slick-slide {
  height: 100%;
  min-height: 1px;
  display: none;
  float: left;
  padding: 10px;
  opacity: 0.5;
  transition: opacity 300ms ease 0s;
}

.slick-slide.slick-active {
  opacity: 1;
}

.slick-initialized .slick-slide {
  display: block;
}


.card-img {
  background-size: cover;
  height: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image-overlay {
  inset: 0px;
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  transition: opacity 500ms ease-in-out 0s;
  width: 100%;
}

.image-overlay.hover-image {
  opacity: 0;
}

/* FOOTER */

footer {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.top-footer {
  width: 100%;
  height: 35%;
  border-top: 1px solid #d3d3d3;
}

.bottom-footer {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-footer-container {
  width: 80%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
}

.button-file {
  border: none;
  /* border-bottom: 1px solid burlywood; */
  width: 30vh;
  height: max-content;
  background-color: white;
  color: burlywood;
}

input[type="file"]::-webkit-file-upload-button {
  border: 1px solid burlywood;
  /* border-radius: 15px; */
  width: 20vh;
  height: 5vh;
  background-color: white;
  color: burlywood;
  margin: 1vh 1vh 1vh 0;
  cursor: pointer;
}
