header {
  width: 100%;
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bar-top {
  width: 100%;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}

.bar-top-text {
  color: white;
  letter-spacing: 2px;
  font-size: 1.3vw;
}

.bar-bottom {
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1vw;
}

.searchandcart {
  width: 100%;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  width: 20vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0 5% 0 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.search-logo {
  width: 2.5vw;
  height: 2.5vw;
}

.nbcart {
  font-size: 1vw;
  margin: 0.5vw;
}

.cart-container .search-btn:first-child .search-logo {
  width: 60%;
  height: 60%;
}

.avatar-img {
  border-radius: 100%;
  width: 2.5vw;
  height: 2.5vw;
}

.search-input {
  width: 70%;
  height: 2.5vw;
  font-size: 1.5vw;
  border: none;
  border-bottom: 1px solid black;
}

.cart-container {
  width: 20vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bag-container {
  display: flex;
  flex-direction: row;
}

.account-container-title {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline black;
}

.account-container-name {
  width: 75%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 80%;
}

.logo-container {
  width: 20vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  width: auto;
  height: 100%;
}

/* BUTTON */

button {
  outline: none;
  background-color: transparent;
  border: transparent;
}

.button-file {
  border: none;
  width: 30vh;
  height: max-content;
  background-color: white;
  color: burlywood;
}

.button-file-secondary {
  border: 1px solid rgb(133, 133, 133);
  width: 9vw;
  height: 5vh;
  background-color: burlywood;
  color: white;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  border: 1px solid burlywood;
  width: 20vh;
  height: 5vh;
  background-color: white;
  color: burlywood;
  margin: 1vh 1vh 1vh 0;
  cursor: pointer;
}

.button-round-first {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 100%;
  border: transparent 0px solid;
  background-color: rgba(255, 255, 255, 0.281);
  cursor: pointer;
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.button-round-first:hover {
  transform: scale(1.1, 1.1) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.button-round-first img {
  width: 60%;
  height: 60%;
}

.button-first {
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  width: 10vw;
  height: 5vh;
  background-color: burlywood;
  color: white;
  cursor: pointer;
  font-size: 1vw;
}

.button-secondary {
  border: 1px solid burlywood;
  border-radius: 15px;
  width: 10vw;
  /* height: 5vh; */
  height: 2.5vw;
  background-color: white;
  color: burlywood;
  cursor: pointer;
  font-size: 1vw;
}

.button-third {
  border: none;
  border-bottom: 1px solid burlywood;
  width: 15vw;
  height: 5vh;
  background-color: white;
  color: burlywood;
  cursor: pointer;
  font-size: 1vw;
}

.button-third:hover {
  color: rgba(222, 184, 135, 0.5);
}

.button-five {
  height: 5vw;
  width: 10vw;
  padding: 0;
}

.button-six {
  border: none;
  width: 50%;
  height: 2.5vw;
  color: white;
  cursor: pointer;
  margin: 1vw;
  font-size: 1vw;
  font-size: 0.8vw;
}

.button-seven {
  border: none;
  /* border-bottom: 1px solid burlywood; */
  text-decoration: underline;
  width: 100%;
  height: 5vh;
  background-color: white;
  color: burlywood;
  cursor: pointer;
  font-size: 1vw;
}

.button-seven:hover {
  color: rgba(222, 184, 135, 0.5);
}

.button-none {
  border: 1px solid grey;
  background-color: white;
  color: grey;
  cursor: not-allowed;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ol {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropbtn {
  background-color: transparent;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  color: #707172;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.dropbtn .btn-link {
  text-decoration: none;
}

.dropdown {
  display: flex;
  height: 100%;
  width: 20%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  width: 20vw;
  height: max-content;
  padding: 1%;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.cart-panier {
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content h3 {
  text-decoration: underline black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.3vw;
}

.dropdown-content .btn-link {
  color: #707172;
  padding: 1.5vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1vw;
}

.dropdown-content .btn-link:hover {
  color: rgb(203, 188, 178);
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.dropdown:hover .dropbtn .btn-link {
  color: rgb(203, 188, 178);
}

.content-drop {
  height: 100%;
  position: relative;
  width: 12vw;
  text-align: center;
}

.container-carto {
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.container-carto:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  transform: scale(1.05, 1.05);
  transition: border 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.img-cart-prod {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-produit-carto {
  width: auto;
  height: 90%;
  border-radius: 10px;
}

.text-cart {
  font-size: 0.8vw;
}

.img-cart-bin {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.img-cart-bin:hover {
  transform: scale(1.1, 1.1);
  transition: border 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.img-produit-bin {
  width: auto;
  height: 30%;
  border-radius: 10px;
}

.downcate {
  display: none;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 99;
  top: -0.1vw;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
}

.downcate.hovercate {
  display: flex;
}

.dropy button {
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.dropy button:hover {
  transform: scale(1.05, 1.05);
  transition: border 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.title-main {
  text-decoration: underline black;
  letter-spacing: 1px;
  width: 100%;
  font-size: 2.14vw;
}

.sign-container {
  width: 100%;
  height: max-content;
  margin-top: 2vh;
  border-top: 1px solid #d3d3d3;
}

.inputs-container {
  border-radius: 15px;
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.dash-container {
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.dash-container h3 {
  margin: 2%;
  font-size: 1.25vw;
}

.login-input {
  width: 50%;
  height: 5vh;
  margin: 1vh 0;
  padding: 0 1vh;
  outline: none;
}

.infos-star {
  font-size: 1.05vw;
}

.field {
  margin: 0;
}

.field.error {
  color: red;
}

.field.success {
  color: green;
}

.warning {
  color: red;
}

.safe {
  color: green;
}

.firstz,
.lastz,
.mailz,
.passz,
.phonez,
.filez {
  margin-bottom: 1em;
  font-size: 1.5vh;
}

.lost-pass {
  font-size: 0.7vw;
  cursor: pointer;
  margin: 2vh 0;
  width: max-content;
}

.edit-container {
  width: 100%;
  height: max-content;
  border-top: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2vh;
}

.edit-admin {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.list-container {
  width: 30%;
  height: max-content;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  padding: 2vh;
}

.list-container-admin {
  width: 30%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 2vh;
  background-color: burlywood;
  overflow-y: auto;
}

.title-admin-bar {
  color: white;
  text-decoration: underline;
  margin: 5%;
  font-size: 1.6vw;
}

.view-container {
  width: 50%;
  height: max-content;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  padding: 2vh;
}

.view-container .inputs-container {
  width: 100%;
}

.view-container-admin {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2vh;
  overflow-y: auto;
}

.view-container-admin .title-main {
  width: 100%;
  height: 5vw;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-vv-admin {
  width: 100%;
  height: max-content;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.space-admin-container {
  width: 80%;
  height: max-content;
  padding: 2vw;
}

.space-admin-container-big {
  width: 100%;
  height: max-content;
  padding: 2vw;
}

.space-admin-title-top {
  font-size: 1.6vw;
  text-decoration: underline;
  margin: 5% 0;
}

.cart-title-top {
  font-size: 2vw;
  text-decoration: underline;
  margin: 5% 0;
}

.space-admin-view {
  width: 100%;
}

.panel-admin-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.top-admin-bar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.title-top-admin-bar {
  width: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  margin-bottom: 1vw;
}
.body-admin-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body-admin-lign {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1vw;
}

.admin-input {
  width: 9vw;
  height: 5vh;
  outline: none;
  min-width: 5vh;
}

.admin-text-p {
  border: 1px solid rgb(133, 133, 133);
  width: 9vw;
  height: 5vh;
  margin: 0;
  padding: 0;
}

/* SLIDE */

#home-collection {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-top: 0px;
}

.slick-slider {
  margin-bottom: 12px;
  z-index: 6;
  display: block;
  position: relative;
}

@media (min-width: 480px) {
  .slick-slider {
    margin-top: 18px;
  }
}

.slick-track {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0px, 0px, 0px);
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: "";
}

.slick-track::after {
  clear: both;
}

.slick-slide {
  height: 100%;
  min-height: 1px;
  display: none;
  float: left;
  padding: 10px;
  opacity: 0.5;
  transition: opacity 300ms ease 0s;
}

.slick-slide.slick-active {
  opacity: 1;
}

.slick-initialized .slick-slide {
  display: block;
}

.card-img {
  background-size: cover;
  height: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slick-img {
  inset: 0px;
  display: block;
  height: 100%;
  object-fit: cover;
  transition: opacity 500ms ease-in-out 0s;
  width: 100%;
  border-radius: 10px;
}

/* FOOTER */

footer {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-direction: column;
}

.top-footer {
  width: 100%;
  height: 35%;
  border-top: 1px solid #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-footer {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-footer-container {
  width: 80%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  font-size: 1.2vw;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

.slick-arrow {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  display: block;
  top: 15vw;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: burlywood;
  border-radius: 50%;
  box-shadow: 0 3px 10px -2px #9b9b9b;
  width: 26px;
  height: 26px;
}

@media print, screen and (min-width: 56.25em) {
  .slick-arrow {
    width: 35px;
    height: 35px;
  }
}

@media print, screen and (min-width: 75em) {
  .slick-arrow {
    width: 45px;
    height: 45px;
  }
}

.slick-arrow.slick-prev {
  left: 0;
}

@media print, screen and (min-width: 56.25em) {
  .slick-arrow.slick-prev {
    left: -50px;
  }
}

.home-carousel.carousel .slick-prev {
  left: 50px;
}

.slick-arrow::before {
  content: "";
  display: inline-block;
  border: solid #fff;
  border-width: 0 0 1px 1px;
  padding: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 9px;
}

@media print, screen and (min-width: 56.25em) {
  .slick-arrow::before {
    top: 14px;
  }
}

@media print, screen and (min-width: 75em) {
  .slick-arrow::before {
    top: 17px;
    padding: 4px;
  }
}

.slick-arrow.slick-prev::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 11px;
}

@media print, screen and (min-width: 56.25em) {
  .slick-arrow.slick-prev::before {
    left: 15px;
  }
}

@media print, screen and (min-width: 75em) {
  .slick-arrow.slick-prev::before {
    left: 19px;
  }
}

.slick-arrow.slick-next {
  right: 0;
}

@media print, screen and (min-width: 56.25em) {
  .slick-arrow.slick-next {
    right: -50px;
  }
}

.home-carousel.carousel .slick-next {
  right: 50px;
}

.slick-arrow.slick-next::before {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: 11px;
}

@media print, screen and (min-width: 56.25em) {
  .slick-arrow.slick-next::before {
    right: 15px;
  }
}

@media print, screen and (min-width: 75em) {
  .slick-arrow.slick-next::before {
    right: 19px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slick-dots {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  margin: 30px 0;
}

.home-carousel .slick-dots {
  position: absolute;
  right: 5vh;
  bottom: 2vh;
  width: max-content;
  height: max-content;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slick-dots li {
  margin: 1vw;
}

.slick-dots li button {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: #eaeaea;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid burlywood;
}

.best-carousel {
  width: 100%;
  height: 40vw;
}

.best-carousel .title-main {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-cards {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.slick-card {
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.slick-card .slick-img {
  width: 20vw;
  height: 80%;
  transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.slick-card .slick-img:hover {
  transform: scale(1.05, 1.05);
  /* border: 2px solid burlywood; */
  transition: border 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.slick-card-infos {
  width: 20vw;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slick-card-infos h3,
.slick-card-infos p {
  width: 20vw;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  margin: 0;
  padding: 0;
}

.container-produit {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
}

.container-produit-img {
  width: 30%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produit-img {
  width: 80%;
  height: auto;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.container-produit-infos {
  width: 70%;
  height: max-content;
}

.container-produit-btn {
  width: 10vw;
  height: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.cursor-none {
  cursor: not-allowed;
}

.shopping-cart {
  width: 100%;
  height: max-content;
}

.cart-line {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 1vw;
  background-color: burlywood;
  border-radius: 10px;
  box-shadow: 0px -5px 10px 0px rgb(0 0 0 / 50%);
  font-size: 1.1vw;
}

.shopping-cart-product {
  width: 100%;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 2vw;
  margin: 1vw 0;
  background-color: burlywood;
  border-radius: 10px;
  box-shadow: 0px -5px 10px 0px rgb(0 0 0 / 50%);
}

.product-image {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: auto;
  height: 80%;
}

.product-details {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-title {
  font-size: 1.4vw;
  text-decoration: underline;
}

.product-description {
  font-size: 0.8vw;
}

.product-price {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
}

.product-quantity {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-quantity input {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-removal {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-product {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-bin-produit {
  width: auto;
  height: 20%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.cart-bin-produit:hover {
  transform: scale(1.1, 1.1);
  transition: border 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.product-line-price {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
}

.totals {
  width: 100%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.1vw;
}

.totals-item {
  width: 20%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: burlywood;
  border-radius: 10px;
  box-shadow: 0px -5px 10px 0px rgb(0 0 0 / 50%);
}

.totals-item label {
  text-decoration: underline;
}

.container-lign-btn {
  width: 100%;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
